<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web flask</title>
</head>
<body>
    <center><h1>MI PRIMERA APLICACIÓN CON TEMPLATES Y FLASK</h1></center>
    <h2><p>BIENVENID{{saludo}}, {{nombre}}</p></h2>
    <!--square, disc, circle-->
    <ul type = "disc"> 
        {% for auto in autos %}
            <li>{{auto}}</li>
        {% endfor %}
    </ul>
    <ol type = "A" reversed> 
        {% for consola in consolas %}
            <li>{{consola}}</li>
        {% endfor %}
    </ol>

</body>
</html>